<h4 class="mt-4">Home Page</h4>
  
<p *ngIf="user">Logged in as: {{ user?.email }} - {{ user?.displayName }}</p>

<div class="buttons">
    <button class="btn btn-primary mr-2" *ngIf="!user" (click)="register()">Register</button>
    <button class="btn btn-primary" *ngIf="user" (click)="logout()">Logout</button>
    <button class="btn btn-primary" *ngIf="!user" (click)="login()">Login</button>
</div>


<div class="jumbtron" *ngIf="user">
        <h1 class="display-4 text-center">Credit Card Detail Locker</h1>
        <hr>
        <div class="row">
            <div class="col-md-5">
                <app-payment-detail></app-payment-detail>
            </div>
            <div class="col-md-7">
                <app-payment-detail-list></app-payment-detail-list>
            </div>
        </div>
    </div>